
@{
    ViewBag.Title = "OptOutConfirmation";
    Layout = "~/Views/Shared/_LoginMaster.cshtml";
}


<style>
    p {
        color: #555;
    }

    h2 {
        margin-left: 120px;
    }

    .activateBorder {
        border: 1px solid black;
    }
</style>




<div class="row">
    <div class="col-md-12">


    </div>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-6 col-md-offset-2 activateBorder">
        <h2>You are Opt-Out from CCPDHM </h2>

    </div>
</div>

