
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="1">
    <h1>Documentation du programme</h1>

    <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->


    <div class="margin-top-24">
        <h4>Cliquez sur le sujet ci-dessous pour voir la liste des documents accessibles et les consulter.</h4>
    </div>







    <div class="margin-top-24">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1"><strong>Diapositives</strong></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">



                        <p></p>
                        <table width="90%" border="0" align="center" cellpadding="10" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="9%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">Diapositives</td>

                                    <td width="25%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">&nbsp;</td>
                                    <td width="45%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">la description</td>
                                </tr>
                                <tr>
                                    <td height="128" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF; padding:10px"><a href="/PMdownloads/30 min Enjeux Cliniques IV Final FMOQ - 2019_Updated Feb 2020.pptx" target="_new"><img src="/images/ppt.png" alt="" width="35" height="36" border="0"></a></td>

                                    <td align="center" bgcolor="#FFFFFF"><img src="/Images/FRcase0a.png" width="138" height="103"></td>
                                    <td align="center" bgcolor="#FFFFFF">Enjeux Cliniques IV – Mise à jour 2019 </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="10" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="9%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">Diapositives</td>

                                    <td width="25%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">&nbsp;</td>
                                    <td width="45%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">la description</td>
                                </tr>
                                <tr>
                                    <td height="126" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF; padding:10px"><a href="/PMdownloads/60 min Enjeux Cliniques IV Final QFP FMOQ - 2019_ Updated Feb 2020.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>

                                    <td align="center" bgcolor="#FFFFFF"><img src="/Images/FRcase0a.png" width="138" height="106"></td>
                                    <td align="center" bgcolor="#FFFFFF">Enjeux Cliniques IV – Mise à jour 2019 et FAQ</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°1</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PMdownloads/Cas 1.pptx" target="_new"><img src="/images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/images/case1.png" alt="" width="40" height="53"></td>
                                    <td width="44%" align="center" bgcolor="#FFFFFF">Gestion des anticoagulants oraux directs en période péri-opératoire </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>


                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°2</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PMdownloads/Cas 2.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/images/case2.png" alt="" width="40" height="53"></td>
                                    <td width="44%" align="center" bgcolor="#FFFFFF">Prise en charge de la fibrillation auriculaire avec complications gastro-intestinales</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>


                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°3</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PMdownloads/Cas 3.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/images/case3.png" alt="" width="40" height="53"></td>
                                    <td width="44%" align="center" bgcolor="#FFFFFF">Prise en charge de la fibrillation auriculaire chez les patients ayant subi un AVC </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>


                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°4</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PMdownloads/Cas 4.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="10%" align="center" bgcolor="#FFFFFF"><img src="/images/case4.png" alt="" width="40" height="53"></td>
                                    <td width="43%" align="center" bgcolor="#FFFFFF">Détérioration de la fonction rénale dans le monde réel</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°5</td>
                                </tr>
                                <tr>
                                    <td height="72" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PMdownloads/Cas 5.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="10%" align="center" bgcolor="#FFFFFF"><img src="/images/case5.png" alt="" width="35" height="62"></td>
                                    <td width="43%" align="center" bgcolor="#FFFFFF">Prise en charge du traitement antithrombotique des patients <br>atteints de FA et de coronaropathie</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="14%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°6</td>
                                </tr>
                                <tr>
                                    <td height="78" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PMdownloads/Cas 6.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="10%" align="center" bgcolor="#FFFFFF"><img src="/images/case6.png" alt="" width="39" height="68"></td>
                                    <td width="43%" align="center" bgcolor="#FFFFFF">Prévention de l'AVC en présence de FA chez le sujet âgé</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°7</td>
                                </tr>
                                <tr>
                                    <td height="84" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PMdownloads/Cas 7.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="10%" align="center" bgcolor="#FFFFFF"><img src="/images/case7.png" alt="" width="48" height="74"></td>
                                    <td width="43%" align="center" bgcolor="#FFFFFF">
                                        La médecine de précision appliquée aux AOD
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="13%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°8</td>
                                </tr>
                                <tr>
                                    <td height="67" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PMdownloads/Cas 8.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="15%" align="center" bgcolor="#FFFFFF"><img src="/images/case8.png" alt="" width="83" height="42"></td>
                                    <td width="43%" align="center" bgcolor="#FFFFFF">Détection de la FA : Méthodes, défis et incertitudes</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°9</td>
                                </tr>
                                <tr>
                                    <td height="75" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PMdownloads/Cas 9.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/images/case9.png" alt="" width="36" height="65"></td>
                                    <td width="44%" align="center" bgcolor="#FFFFFF">Optimisation de l'utilisation et de la posologie des AOD <br>chez les patients atteints de FA</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>



                    </div>
                </div>
            </div>
        </div>



    </div>


</div>