
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="1">



            <div class="margin-top-24">
                <h3>Bienvenue<br> </h3>
                Bienvenue au Centre de ressources du programme <strong><em>Enjeux Cliniques&nbsp;: Stratégies pratiques pour la prise en charge de la FA dans le monde réel</em></strong><br>
                <br>
                Nous sommes heureux d’annoncer que la Fédération des médecins omnipraticiens du Québec (FMOQ), organisme pleinement agréé en formation continue par le Collège des médecins du Québec, reconnaît 1 à 3&nbsp;heures de crédits de catégorie&nbsp;1 aux participants à cette activité, pour peu que le code d’éthique du Conseil québécois de développement professionnel continu des médecins (CQDPCM) soit respecté. <br>


                <h3><strong>PRÉSENTATION</strong><br></h3>
                Le programme <em>Enjeux cliniques</em>&nbsp;2019 est une activité de formation pratique fondée sur des données probantes conçue par d’éminents experts canadiens afin d’aborder les besoins perçus et non perçus des médecins de premier recours dans la mise en œuvre des meilleures stratégies pour prévenir les AVC chez les patients présentant une fibrillation auriculaire. Ce programme interactif traite des problèmes cliniques les plus fréquents dans la prise en charge des patients atteints de fibrillation auriculaire ainsi que des comorbidités associées. Il présente aux cliniciens les points essentiels à retenir et à mettre en pratique dans le monde réel. <br>

                <h3><strong>FORMULE</strong></h3>
                <ul type="disc">
                    <li>Le      programme <em>Enjeux cliniques&nbsp;2019&nbsp;: Stratégies pratiques pour      la prise en charge de la fibrillation auriculaire et de la TVP dans le      monde réel</em> consiste en une présentation principale et neuf modules      d’apprentissage par cas. Chaque module comprend une séance de questions.</li>
                </ul>
                <p>
                    <br>
                    Pour toute question, n’hésitez pas à communiquer avec l’équipe du CCRC par téléphone au 416&nbsp;977-8010, poste&nbsp;296 (1&nbsp;800&nbsp;725-6585), ou par courriel à&nbsp;<a href="mailto:info@clinicalconundrums.ca">info@clinicalconundrums.ca&nbsp;</a><br>
                    &nbsp;<br>
                    Au sujet des réunions, communiquez avec votre représentant de l’Alliance.<br>
                    Nous nous réjouissons à l’avance à l’idée de collaborer avec vous dans le cadre de ce programme très utile.&nbsp;<br>
                    <br>
                    Veuillez agréer nos sincères salutations.<br>
                    <br>
                    <strong>George Honos, MD, FRCPC, FACC</strong><br>
                    Au nom du comité directeur du programme Enjeux cliniques
                </p>
                <p>
                    <br>
                    <em>Ce programme bénéficie d’une subvention à visée pédagogique d’Alliance BMS/Pfizer Canada.</em>
                </p>
                <h3>&nbsp;</h3>
                <p>&nbsp;</p>
            </div>




        </div>




        <!-- <div class="2 margin-top-24">
            <h3>Program Description</h3>
            <div style="border: 3px solid #fff; height: 100px; width: 95%"></div>
        </div>-->
        <!--<div class="3 margin-top-24">
            <div style="border: 3px solid #fff; width: 95%">
                <table style="width: 100%">
                    <tr>
                        <td style="background: #333; color: #fff; padding: 2px 0px 2px 5px">PROVINCE</td>
                        <td style="width: 220px; background: #24c878; color: #fff; padding: 2px 0px 2px 5px">ACTIVE</td>
                        <td style="width: 220px; background: #3d7f9c; color: #fff; padding: 2px 0px 2px 5px">COMPLETED</td>
                        <td style="width: 220px; background: #e60c41; color: #fff; padding: 2px 0px 2px 5px">CANCELLED</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">BC</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">AB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">SK</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">MB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">ON</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">QC</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NS</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NFLD</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">PEI</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                </table>
            </div>
        </div>-->


    </div>
</div>

