
@{
    ViewBag.Title = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_LoginMaster.cshtml";
}




<style>
    p {
        color: #555;
    }
</style>




<div class="row">
    <div class="col-md-12">
        <h1>@ViewBag.Title.</h1>

    </div>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-12">
        Your password has been emailed.Please check your inbox. <a href="@Url.Action("Login","Account")"> Log In </a>

    </div>
</div>

<br />
<br />
<br />


