<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/cpd.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
   
   
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/helper.js"></script>
    
    <style type="text/css">
        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }
    </style>
</head>
<body style="background-image: url(/Images/notebook1st.jpg);">
    <div class="overlay"></div>

    <!-- nav bar-->
    <header>
        <div class="navbar navbar-inverse overlay-z2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div id="logo">
                                <div class="logo-img">
                                    <object id="logo-svg" type="image/svg+xml" data="/Images/BMSPfizer.svg"></object>
                                </div>
                                <div class="logo-txt-sub">Speaker Resource Portal</div>
                                <div class="logo-txt-welcome">&nbsp;</div>
                            </div>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav float-right">
                                <li><a href="#">Français FMOQ</a></li>
                                <li><a href="mailto:@System.Configuration.ConfigurationManager.AppSettings["ContactEmail"]">Contact Us</a></li>
                                <li><a href="/Account/LogOff">Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--end of nav bar-->

    <section>

        <div role="main" class="container overlay-z2">
            <div class="row">
                <div class="col-md-12">

                    <div><h1 style="padding:0px; margin:0px"><img src="/Images/cc-logo.png" width="200" height="79" style="margin-right:15px">Clinical Conundrums 2020: Practical Strategies for Atrial Fibrillation Management in Real World Practice.</h1></div>

                    <div class="btn-back"><span class="glyphicon glyphicon-chevron-left"></span><span>Back</span></div>
                </div>
            </div>

            @RenderBody()
        </div>
    </section>
    <!--footer-->
    <footer>
        <div class="container overlay-z2 footer">
            <div class="row">
                <div class="col-sm-12 col-sm-12 col-md-2">
                    <div class="logo-img-ftr">
                        <object class="logo-img-ftr-svg" type="image/svg+xml" data="/Images/CHRClogos_mer.svg"></object>
                    </div>
                </div>

                <div class="hidden-xs  col-sm-12 col-md-4" style="margin-top:20px">This program has received an educational grant and in-kind support from BMS/Pfizer Alliance Canada</div>
                <div class="col-xs-12  col-sm-12 col-md-2">
                    <span style="margin-right: 20px">http://clinicalconundrums.ca</span>
                    <br class="r-break">
                    <a href="mailto:info@clinicalconundrums.ca" title="info@ccpdhm.com" style="margin-right: 20px">info@clinicalconundrums.ca</a><br class="">
                    259 Yorkland Road, Suite 200, <br class="r-break">
                    North York, Ontario, <br class="r-break">
                    Canada, M2J 0B5
                    <br class="r-break">
                    <br>
                </div>
                <div class="col-xs-12  col-sm-12 col-md-2">
                    Dija Changkit<br>
                    Project Leader<br>
                    <a href="mailto:changkitdija@chrc.net">changkitdija@chrc.net</a><br>
                    416-977-8010 ext. 296
                </div>


                <div class="col-xs-12  col-sm-12 col-md-2">
                    Annie Pham <br>
                    Administrative Assistant<br>
                    <a href="mailto:phama@chrc.net">phama@chrc.net </a><br>
                    416-977-8010 ext. 244
                </div>
            </div>
        </div>
    </footer>
    <!-- end of footer-->
    @RenderSection("Scripts", required: false)


    <script>
        $(document).ready(function () {
            $('.btn-back').on('click', function (e) {
                window.history.back();
            });
        });
    </script>
</body>
</html>
