
@{
    ViewBag.Title = "Description_1";
    Layout = "~/Views/Shared/_ProgramDetails.cshtml";
}


<div class="1">
    <h1>Program Description</h1>

    <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->

    <div class="margin-top-24">
        <h3>Clinical Conundrums 2020: Practical Strategies for Atrial Fibrillation Management in Real World Practice</h3>
        <p></p><h3>
            ABOUT:
        </h3>
        <ul>
            <li>The 2020 Clinical Conundrums program was developed by leading Canadian Experts as an evidence-based, practical, educational activity and is designed to address the perceived and unperceived needs of primary care physicians around optimal strategies for stroke prevention in patients with Atrial Fibrillation. This interactive program will address the most frequently encountered clinical challenges in the management of patients with Atrial Fibrillation and the related co-morbidities and will provide clinicians with key take-away messages that can be applied to real-world practice.</li>
        </ul>
        <p></p><h3>
            FORMAT:
        </h3>
        <ul>
            <li>Clinical Conundrums 2020: Practical Strategies for Atrial Fibrillation Management in Real World Practice program consists of a core didactic deck and 10 case-based modules. Each module includes interactive Q&amp;A.</li>
            <li>Please decide on the modules which will be presented prior to submitting the New Event Request Form</li>
        </ul>
        <p></p><h3>CERTIFICATION:</h3>
        <ul>
            <li>This Group Learning activity has been certified for up to 7 MAINPRO+ one-credit-per- hour credits by the CFPC.&nbsp;</li>
            <li>You may offer the program to your customers as a 60-minute (1.0 Mainpro+ Credit) program and add 30-minute increments for up to a 7-hour (7.0 Mainpro+ credits) program.</li>
        </ul>
        <p></p><h3>
            SPEAKERS:
        </h3>
        <ul>
            <li>Program speakers will have access to the program materials once they confirm availability for at least one of regional event dates</li>
            <li>A copy of their COI slides is available in their resource for download </li>
            <li>
                <strong>
                    As per the CFPC guidelines for certified programs, speakers are required to use the
                    presentation slides provided by the physician organization and are not permitted to make any changes to the program materials/slides.<br>
                </strong>
            </li>
        </ul>
        <p><strong><u>EVENT SPEAKERS &amp; MODERATORS HONORARIUM:</u></strong></p>
        <p>*Please Note ‐ The honoraria amounts will be in line with FMV and are based on the following:</p>
        <p>SPEAKER: 1 hour or less : SPECIALIST $1,750 GPs/PharmD $1,000</p>
        <p>SPEAKER 1 hour to 2 hours: SPECIALIST $2000 GPs/PharmD $1200</p>
        <p>SPEAKER above 2 hours: SPECIALIST $2,200 GPs/PharmD $ 1,500</p>
        <p>MODERATOR 1 ‐ 3 hours: $300</p>


        <p></p><h3>
            PROGRAM MODULES:<br>
        </h3>
    </div>



    <div>
        <h3>
            Clinical Conundrums V: 2020 Update – Core Deck
        </h3>
        <ul>
            <li>0.5 Mainpro+ Credits (30 minutes)</li>
            <li>
                Number of Slides: 43 (including intro slides)<br>
            </li>
        </ul>

        <div class="col-sm-12" style="padding-bottom:40px">
            <table width="80%" border="0" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td width="50%" align="left"><img src="/Images/slideimgs/core1.jpg" width="300" height="225"></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div style="padding-bottom:20px">
        <h3>
            <p>
                Clinical Conundrums V: 2020 Update &amp; Interactive FAQ – Core Deck
            </p>
        </h3>
        <ul>
            <li>1 Mainpro+ Credits (60 minutes)</li>
            <li>
                Number of Slides: 71 (including intro slides)<br>
            </li>
        </ul>

        <div class="col-sm-12" style="padding-bottom:40px">
            <table width="80%" border="0" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td width="50%" align="left"><img src="/Images/slideimgs/core1.jpg" width="300" height="225"></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>



    <div>
        <h3>
            <p>
                Case 1: Periprocedural Management of Direct Oral Anticoagulants
            </p>
        </h3>
        <ul>
            <li>0.5 Mainpro+ Credits (30 minutes)</li>
            <li>
                Number of Slides: 40<br>
            </li>
        </ul>

        <div class="col-sm-12" style="padding-bottom:40px">
            <table width="80%" border="0" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td width="50%" align="left"><img src="/Images/slideimgs/case1.jpg" width="300" height="225"></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>



    <div>
        <h3>
            <p>
                Case 2: Management of Atrial Fibrillation with Gastrointestinal Complications
            </p>
        </h3>
        <ul>
            <li>0.5 Mainpro+ Credits (45 minutes)</li>
            <li>
                Number of Slides: 42<br>
            </li>
        </ul>
        <div class="col-sm-12" style="padding-bottom:40px">
            <table width="80%" border="0" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td width="50%" align="left"><img src="/Images/slideimgs/case2.jpg" width="300" height="225"></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>





    <div>



        <h3>
            <p>
                Case 3: Management of Atrial Fibrillation in Post Stroke Patients
            </p>
        </h3>
        <ul>
            <li>0.5 Mainpro+ Credits (30 minutes)</li>
            <li>
                Number of Slides: 35<br>
            </li>
        </ul>
        <div class="col-sm-12" style="padding-bottom:40px">
            <table width="80%" border="0" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td width="50%" align="left"><img src="/Images/slideimgs/case3.jpg" width="300" height="225"></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>




    <div>
        <h3>
            <p>
                Case 4: Real World Worsening Kidney Function
            </p>
        </h3>
        <ul>
            <li>0.5 Mainpro+ Credits (30 minutes)</li>
            <li>
                Number of Slides: 39<br>
            </li>
        </ul>
        <div class="col-sm-12" style="padding-bottom:40px">
            <table width="80%" border="0" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td width="50%" align="left"><img src="/Images/slideimgs/case4.jpg" width="300" height="225"></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <div>
        <h3>
            <p>
                Case 5: Management of Antithrombotic Therapy in Patients with AF and CAD
            </p>
        </h3>
        <ul>
            <li>0.5 Mainpro+ Credits (30 minutes)</li>
            <li>
                Number of Slides: 46<br>
            </li>
        </ul>
        <div class="col-sm-12" style="padding-bottom:40px">
            <table width="80%" border="0" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td width="50%" align="left"><img src="/Images/slideimgs/case5.jpg" width="300" height="225"></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div>
        <h3>
            <p>
                Case 6: Stroke Prevention Management in the Elderly Atrial Fibrillation Patients
            </p>
        </h3>
        <ul>
            <li>1 Mainpro+ Credits (60 minutes)</li>
            <li>
                Number of Slides: 65<br>
            </li>
        </ul>
        <div class="col-sm-12" style="padding-bottom:40px">
            <table width="80%" border="0" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td width="50%" align="left"><img src="/Images/slideimgs/case6.jpg" width="300" height="225"></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div>
        <h3>
            <p>
                Case 7: Precision Management of Direct Oral Anticoagulants in Patients with Atrial Fibrillation
            </p>
        </h3>
        <ul>
            <li>0.5 Mainpro+ Credits (30 minutes)</li>
            <li>
                Number of Slides: 44<br>
            </li>
        </ul>
        <div class="col-sm-12" style="padding-bottom:40px">
            <table width="80%" border="0" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td width="50%" align="left"><img src="/Images/slideimgs/case7.jpg" width="300" height="225"></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div>
        <h3>
            <p>
                Case 8: Detection of AF: Methods, Challenges and Uncertainties
            </p>
        </h3>
        <ul>
            <li>0.5 Mainpro+ Credits (30 minutes)</li>
            <li>
                Number of Slides: 34<br>
            </li>
        </ul>
        <div class="col-sm-12" style="padding-bottom:40px">
            <table width="80%" border="0" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td width="50%" align="left"><img src="/Images/slideimgs/case8.jpg" width="300" height="225"></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div>
        <h3>
            <p>
                Case 9: Optimizing the Use and Dosing of Direct Oral Anticoagulants in Patients with Atrial Fibrillation
            </p>
        </h3>
        <ul>
            <li>0.5 Mainpro+ Credits (45 minutes)</li>
            <li>
                Number of Slides: 44<br>
            </li>
        </ul>
        <div class="col-sm-12" style="padding-bottom:40px">
            <table width="80%" border="0" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td width="50%" align="left"><img src="/Images/slideimgs/case9.jpg" width="300" height="225"></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div>
        <h3>
            <p>
                Case 10: Management of DVT: A Practical Guide for Primary Practice
            </p>
        </h3>
        <ul>
            <li>1 Mainpro+ Credits (60 minutes)</li>
            <li>
                Number of Slides: 48<br>
            </li>
        </ul>
        <div class="col-sm-12" style="padding-bottom:40px">
            <table width="80%" border="0" cellspacing="0" cellpadding="10">
                <tbody>
                    <tr>
                        <td width="50%" align="left"><img src="/Images/slideimgs/case10.jpg" width="300" height="225"></td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>