
@{
    ViewBag.Title = "Disclosure";
    Layout = "~/Views/Shared/_Layout_fr.cshtml";
}
<div class="1">
    <h1>Exigences de divulgation du conférencier</h1>

    <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->

    <div class="margin-top-24">
        <h3>Enjeux Cliniques : Stratégies pratiques pour la prise en charge de la FA dans le monde réel </h3>
        <p>
            Au début de l’activité donnant droit à des crédits, chacune des trois diapositives de divulgation des conflits d’intérêts (la diapositive de divulgation de l’enseignant ou du présentateur et les deux autres diapositives de divulgation des conflits d’intérêts déjà intégrées dans la présentation du programme) doivent être présentées à l’auditoire ET lues à haute voix par le conférencier et l’animateur (si applicable) (une diapositive par conférencier/animateur).<br>
            <br>
            Veuillez noter que suffisamment de temps DOIT être accordé aux participants pour qu’ils puissent lire et comprendre l’information présentée. Les participants doivent avoir l’occasion de poser des questions sur les déclarations de conflits d’intérêts.<br>
            <br>
            Les conférenciers et organisateurs de séances de FMC et de PCC doivent prendre des mesures permettant aux participants de se faire leur propre idée sur les relations divulguées et sur les stratégies de gestion des possibles conflits d’intérêts.
        </p><div class="col-sm-12" style="padding-bottom:25px; padding-top:15px">
            <strong style="font-size: 24px"><a href="#" target="_new"><span class="glyphicon glyphicon-download-alt" style="font-size: 20px"></span>&nbsp;&nbsp;Modèle de divulgation des conflits d'intérêts</a></strong>
        </div>

        <ul>
            <li>
                <strong>Diapositive&nbsp;1</strong>&nbsp;–      Divulgation du conférencier ou de l’enseignant&nbsp;: Relations      personnelles avec des intérêts commerciaux (une diapositive par      conférencier ou enseignant).<br>
                <br>
            </li>
            <li>
                <strong>Diapositive&nbsp;2</strong>&nbsp;–      Divulgation de soutien commercial au programme&nbsp;: Précisions sur le      soutien offert par des organismes et entités commerciales pour le      développement ou la présentation du programme, y compris les bourses      d’études, les services en nature (p.&nbsp;ex., logistique) ET les aspects      particuliers des liens que le conférencier entretient avec ces entités      qu’un participant raisonnable pourrait trouver pertinents pour le      programme (p. ex., produits fabriqués par des entreprises nommées dans la      diapositive&nbsp;1 qui concernent la présentation).<br>
                <br>
            </li>
            <li><strong>Diapositive&nbsp;3</strong>&nbsp;–      Atténuation des biais&nbsp;: Description des mesures prises pour prendre      en compte et atténuer les sources de biais potentiel dans la présentation.      Ces diapositives doivent être présentées visuellement et verbalement aux      participants. Le public DOIT disposer d’assez de temps pour lire et      comprendre les renseignements affichés et avoir l’occasion de poser des      questions sur la divulgation au besoin.</li>
        </ul>
        <div>

            <div class="col-sm-12" style="padding-bottom:40px; padding-top:20px">
                <table width="100%" border="0" cellspacing="10" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="center"><strong>Diapositive 1</strong></td>
                            <td align="center"><strong>Diapositive 2</strong></td>
                            <td align="center"><strong>Diapositive 3</strong></td>
                        </tr>
                        <tr>
                            <td width="50%" align="center"><img src="/images/french/slide2.jpg" width="250" height="187"></td>
                            <td width="50%" align="center"><img src="/images/french/slide3.jpg" alt="" width="250" height="187"></td>
                            <td width="50%" align="center"><img src="/images/french/slide4.jpg" alt="" width="250" height="187"></td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>



        <ul>


            <li>
                Dans      les cas où le conférencier n’a aucune relation à divulguer, il suffit      d’inscrire «&nbsp;Sans objet&nbsp;» sous l’en-tête «&nbsp;Relation avec      les intérêts commerciaux&nbsp;» de la diapositive&nbsp;1.<br>
                <br>
            </li>

            <li>
                Lorsqu’un      programme ne reçoit aucun soutien commercial (y compris du financement      pour la nourriture, de l’aide logistique pour l’inscription et la mise en      place de l’équipement audiovisuel), inscrivez seulement la mention      «&nbsp;Aucun soutien commercial&nbsp;» à la diapositive&nbsp;2.<br>
                <br>
            </li>
            <li>Dans les cas où aucune source de biais n’est soulevée dans les diapositives&nbsp;1 ET 2, inscrivez simplement «&nbsp;Sans objet&nbsp;» à la diapositive&nbsp;3.              </li>
        </ul>
        <p></p><h3>
            <br>
        </h3>
    </div>













</div>