
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_fr.cshtml";
}

<div class="1">





    <div class="margin-top-24">
        <h3>Bienvenue au Centre de ressources du programme Enjeux Cliniques 2019</h3>
        <p>
            Le programme Enjeux cliniques est une activité de formation pratique fondée sur des données probantes conçue pour aborder les besoins perçus et non perçus des médecins de premier recours et stimuler la discussion sur les meilleures stratégies pour prévenir les AVC chez les patients présentant une fibrillation auriculaire. Ce programme traite d’un éventail de scénarios, de comorbidités et de profils de patients courants dans la pratique clinique. <br>
        </p>
        <h3><strong>FORMULE</strong><br></h3>
        Le programme Enjeux cliniques 2019 : Stratégies pratiques pour la prise en charge de la fibrillation auriculaire et de la TVP dans le monde réel consiste en une présentation principale et neuf modules d’apprentissage par cas. Chaque module comprend une séance de questions.
        <p>&nbsp;</p>
        <p>
            Veuillez prendre quelques minutes pour consulter le guide de l’utilisateur (dans le menu du centre de ressources) ainsi que la <strong><u>documentation du programme</u></strong> afin de vous familiariser avec les différents éléments du centre de ressources virtuel et les exigences de programme pertinentes.<br>
            Si vous avez des questions, n’hésitez pas à communiquer avec nous.<br>
            &nbsp;<br>
            Veuillez agréer nos sincères salutations.<br>
            <br>
            <strong>Lianne Goldin, CCMEP </strong><strong>
                <br>
            </strong>Directrice générale, Service d’enseignement médical continu <br>
            Téléphone&nbsp;: 416&nbsp;629-0599 <br>
            Courriel&nbsp;: <a href="mailto:lgoldin@chrc.net">lgoldin@chrc.net&nbsp;</a><br>
            <strong>&nbsp;</strong><strong>
                <br>
                <strong>Dija Chang Kit</strong>
            </strong> <br>
            Chef de projet <br>
            Téléphone&nbsp;: 416&nbsp;977-8010, poste&nbsp;296 (numéro sans frais&nbsp;: 1&nbsp;800&nbsp;725-6585) <br>
            Courriel&nbsp;: <a href="mailto:changkitdija@chrc.net">changkitdija@chrc.net</a>
        </p>
        <p>&nbsp;</p>
        <h3><strong><u>Contexte du Programme :</u></strong><strong><u> </u></strong><br></h3>

        La fibrillation auriculaire (FA) est le trouble du rythme cardiaque le plus fréquent. Elle touche environ 350&nbsp;000&nbsp;Canadiens et représente la principale cause d’accident vasculaire cérébral (AVC). Les AVC liés à la FA sont plus susceptibles d’être mortels ou invalidants.&nbsp;<strong><u> </u></strong>
        <p>&nbsp;</p>
        <h3><strong><u>Objectifs d’apprentissage :</u></strong><br></h3>
        À la fin de cette activité, le participant sera en mesure de :
        <ol>
            <li>Sélectionner des options thérapeutiques personnalisées pour la prévention des AVC en présence de FA en se fondant sur les lignes directrices de pratique clinique canadiennes actuelles et sur l’expérience rassurante du « monde réel » </li>
            <li>Évaluer et optimiser le risque hémorragique chez les patients atteints de FA nécessitant un traitement à long terme par un AOD pour prévenir un AVC&nbsp; </li>
            <li>Prendre des mesures pour assurer le choix de schémas posologiques appropriés et l’observance à long terme de l’anticoagulation orale chez les patients atteints de FA </li>
        </ol>
        <p>&nbsp;</p>
        <h3><strong><u>Divulgation&nbsp;:</u></strong>&nbsp;<br></h3>

        Les membres du comité organisateur, les présentateurs et les animateurs informeront les participants du programme de tout conflit d’intérêt réel ou potentiel qui pourrait avoir un lien direct avec le sujet du programme

        <p>&nbsp;</p>
        <h3><strong><u>Crédit&nbsp;:</u></strong><br>  </h3>

        La Fédération des médecins omnipraticiens du Québec (FMOQ), organisme pleinement agréé en formation continue par le Collège des médecins du Québec, reconnaît 1 à 3 heure(s) de crédits de catégorie 1 aux participants à cette activité. Le code d’éthique du Conseil québécois de développement professionnel continu des médecins (CQDPCM) doit être respecté (<a href="http://www.cqdpcm.ca">www.cqdpcm.ca</a>). <p></p>



        <p>&nbsp;</p>
        <h3>
            <strong><u>Soutien Financier&nbsp;:&nbsp;</u></strong><br>
        </h3>
        Ce programme bénéficie d’une subvention à visée pédagogique de Alliance BMS-Pfizer Canada. <p></p>
    </div>







</div>

