
@{
    ViewBag.Title = "ProgramMaterials";
    Layout = "~/Views/Shared/_Layout_fr.cshtml";
}

<div class="1">
    <h1>Documentation du programme</h1>

    <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->


    <div class="margin-top-24">
        <h4>Cliquez sur le sujet ci-dessous pour voir la liste des documents accessibles et les consulter.</h4>
    </div>







    <div class="margin-top-24">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1"><strong>Diapositives</strong> <span class="glyphicon glyphicon-triangle-bottom" style="font-size: 12px"></span></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">



                        <p></p>
                        <table width="90%" border="0" align="center" cellpadding="10" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="9%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">Diapositives</td>

                                    <td width="25%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">&nbsp;</td>
                                    <td width="45%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">la description</td>
                                </tr>
                                <tr>
                                    <td height="128" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF; padding:10px"><a href="/PPTX/30 min Enjeux Cliniques IV Final FMOQ - 2019_Updated Feb 2020.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>

                                    <td align="center" bgcolor="#FFFFFF"><img src="/Images/french/FRcase0a.png" width="138" height="103"></td>
                                    <td align="center" bgcolor="#FFFFFF">Enjeux Cliniques IV – Mise à jour 2019 </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="10" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="9%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">Diapositives</td>

                                    <td width="25%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">&nbsp;</td>
                                    <td width="45%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">la description</td>
                                </tr>
                                <tr>
                                    <td height="126" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF; padding:10px"><a href="/PPTX/60 min Enjeux Cliniques IV Final QFP FMOQ - 2019_ Updated Feb 2020.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>

                                    <td align="center" bgcolor="#FFFFFF"><img src="/Images/french/FRcase0a.png" width="138" height="106"></td>
                                    <td align="center" bgcolor="#FFFFFF">Enjeux Cliniques IV – Mise à jour 2019 et FAQ</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°1</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PPTX/Cas 1.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/french/case1.png" alt="" width="40" height="53"></td>
                                    <td width="44%" align="center" bgcolor="#FFFFFF">Gestion des anticoagulants oraux directs en période péri-opératoire </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>


                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°2</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PPTX/Cas 2.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/french/case2.png" alt="" width="40" height="53"></td>
                                    <td width="44%" align="center" bgcolor="#FFFFFF">Prise en charge de la fibrillation auriculaire avec complications gastro-intestinales</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>


                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°3</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PPTX/Cas 3.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/french/case3.png" alt="" width="40" height="53"></td>
                                    <td width="44%" align="center" bgcolor="#FFFFFF">Prise en charge de la fibrillation auriculaire chez les patients ayant subi un AVC </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>


                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°4</td>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PPTX/Cas 4.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="10%" align="center" bgcolor="#FFFFFF"><img src="/Images/french/case4.png" alt="" width="40" height="53"></td>
                                    <td width="43%" align="center" bgcolor="#FFFFFF">Détérioration de la fonction rénale dans le monde réel</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°5</td>
                                </tr>
                                <tr>
                                    <td height="72" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PPTX/Cas 5.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="10%" align="center" bgcolor="#FFFFFF"><img src="/Images/french/case5.png" alt="" width="35" height="62"></td>
                                    <td width="43%" align="center" bgcolor="#FFFFFF">Prise en charge du traitement antithrombotique des patients <br>atteints de FA et de coronaropathie</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="14%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°6</td>
                                </tr>
                                <tr>
                                    <td height="78" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PPTX/Cas 6.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="10%" align="center" bgcolor="#FFFFFF"><img src="/Images/french/case6.png" alt="" width="39" height="68"></td>
                                    <td width="43%" align="center" bgcolor="#FFFFFF">Prévention de l'AVC en présence de FA chez le sujet âgé</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°7</td>
                                </tr>
                                <tr>
                                    <td height="84" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PPTX/Cas 7.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="10%" align="center" bgcolor="#FFFFFF"><img src="/Images/french/case7.png" alt="" width="48" height="74"></td>
                                    <td width="43%" align="center" bgcolor="#FFFFFF">
                                        La médecine de précision appliquée aux AOD
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="13%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°8</td>
                                </tr>
                                <tr>
                                    <td height="67" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PPTX/Cas 8.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="15%" align="center" bgcolor="#FFFFFF"><img src="/Images/french/case8.png" alt="" width="83" height="42"></td>
                                    <td width="43%" align="center" bgcolor="#FFFFFF">Détection de la FA : Méthodes, défis et incertitudes</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                            <tbody>
                                <tr>
                                    <td width="15%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Diapositives</td>
                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Cas n°9</td>
                                </tr>
                                <tr>
                                    <td height="75" align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PPTX/Cas 9.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/french/case9.png" alt="" width="36" height="65"></td>
                                    <td width="44%" align="center" bgcolor="#FFFFFF">Optimisation de l'utilisation et de la posologie des AOD <br>chez les patients atteints de FA</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>



                    </div>
                </div>
            </div>
        </div>

        <div class="margin-top-24">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2"><strong>Modèle d'invitation</strong> <span class="glyphicon glyphicon-triangle-bottom" style="font-size: 12px"></span></a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <strong><span class="glyphicon  glyphicon glyphicon glyphicon-download-alt" style="font-size: 15px"></span>&nbsp;&nbsp;<a href="/PDF/French/FMOQ Invitation.pdf" target="new" style="color:#333">Invitation</a></strong>


                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>






    <!-- <div class="2 margin-top-24">
        <h3>Program Description</h3>
        <div style="border: 3px solid #fff; height: 100px; width: 95%"></div>
    </div>-->
    <!--<div class="3 margin-top-24">
        <div style="border: 3px solid #fff; width: 95%">
            <table style="width: 100%">
                <tr>
                    <td style="background: #333; color: #fff; padding: 2px 0px 2px 5px">PROVINCE</td>
                    <td style="width: 220px; background: #24c878; color: #fff; padding: 2px 0px 2px 5px">ACTIVE</td>
                    <td style="width: 220px; background: #3d7f9c; color: #fff; padding: 2px 0px 2px 5px">COMPLETED</td>
                    <td style="width: 220px; background: #e60c41; color: #fff; padding: 2px 0px 2px 5px">CANCELLED</td>
                </tr>

                <tr>
                    <td style="padding: 2px 0px 2px 5px">BC</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td style="padding: 2px 0px 2px 5px">AB</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td style="padding: 2px 0px 2px 5px">SK</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td style="padding: 2px 0px 2px 5px">MB</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td style="padding: 2px 0px 2px 5px">ON</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td style="padding: 2px 0px 2px 5px">QC</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td style="padding: 2px 0px 2px 5px">NS</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td style="padding: 2px 0px 2px 5px">NB</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td style="padding: 2px 0px 2px 5px">NFLD</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td style="padding: 2px 0px 2px 5px">PEI</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

            </table>
        </div>
    </div>-->




</div>

