
@{
    ViewBag.Title = "ScientificPlanningCommittee";
    Layout = "~/Views/Shared/_Layout_fr.cshtml";
}
<div class="1">
    <h1>Comité directeur</h1>

    <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->

    <div class="row" style="margin-left:0px; padding-top:15px; padding-bottom:20px">

        <div class="col-sm-4">
            <img class="img-responsive" src="/Images/french/honos.png" width="190" height="190"><br>
            <h5>
                <strong>
                    George Honos, M.D.
                    <br>
                    Président du programme Enjeux Cliniques
                </strong>
            </h5>
            <h6>
                Cardiologue<br>
                Directeur médical du regroupement<br>
                clientèle cardiovasculaire, CHUM<br>
                Professeur agrégé de médecine<br>
                Université de Montréal<br>
                Montréal, Québec<br>
            </h6>
        </div>


        <div class="col-sm-4">
            <img class="img-responsive" src="/Images/french/andrade.png" width="190" height="190"><br>
            <h5>
                <strong>Jason Andrade, MD </strong>
            </h5>
            <h6>
                Associate Professor of Medicine at the University of British Columbia and an Adjunct Professor at the Université de Montréal.
                <br>
                Director, Atrial Fibrillation Clinic, Electrodiagnostics, and Cardiac Electrophysiology
                <br>
                Vancouver, British Columbia
                <br>
            </h6>
        </div>


        <div class="col-sm-4">
            <img class="img-responsive" src="/Images/french/bouchard.png" width="190" height="190"><br>
            <h5>
                <strong>Jacques Bouchard M.D. </strong>
            </h5>
            <h6>
                Professeur agrégé de médecine clinique
                <br>
                Université Laval , Québec
                <br>
                Chef, département de médecine
                <br>
                Hôpital de la Malbaie . Québec<br>
            </h6>
        </div>



    </div>
</div>
<div class="row" style="margin-left:0px; padding-top:15px; padding-bottom:20px">

    <div class="col-sm-4">
        <img class="img-responsive" src="/Images/french/dorian.png" width="190" height="190"><br>
        <h5><strong>Paul Dorian, M.D.</strong></h5>
        <h6>
            Cardiologue<br>
            Directeur, Division de cardiologie<br>
            Professeur de médecine<br>
            Hôpital St. Michael<br>
            Université de Toronto<br>
            Toronto, Ontario<br>
        </h6>
    </div>


    <div class="col-sm-4">
        <img class="img-responsive" src="/Images/french/ghosh.png" width="190" height="190"><br>
        <h5>
            <strong>
                Indy (Indraneel) Ghosh, M.D.
            </strong>
        </h5>
        <h6>
            Professeur de clinique adjoint, Université McMaster
            <br>
            Urgentiste au sein de Trillium Health Partners <br>
        </h6>
    </div>

    <div class="col-sm-4">
        <img class="img-responsive" src="/Images/french/goodman.png" width="190" height="190"><br>
        <h5><strong>Shaun Goodman, M.D.</strong></h5>
        <h6>
            Chef adjoint, Division de cardiologie, Hôpital St. Michael<br>
            Professeur et président, Fondation des maladies du cœur et de l'AVC de l'Ontario (Polo), <br>
            Département de médecine, Université de Toronto<br>
            Professeur adjoint, Département de médecine, Université d'Alberta
        </h6>
    </div>



</div>
<div class="row" style="margin-left:0px; padding-top:15px; padding-bottom:20px">

    <div class="col-sm-4">
        <strong><img class="img-responsive" src="/Images/french/habert.png" width="190" height="190"><br></strong>
        <h5><strong>Jeffrey Habert, M.D.</strong></h5>
        <h6>
            Médecin de famille<br>
            Professeur adjoint<br>
            Université de Toronto<br>
            Département de médecine familiale et communautaire <br>
            Toronto, Ontario
        </h6>

    </div>

    <div class="col-sm-4">
        <img class="img-responsive" src="/Images/french/lanthier.png" width="190" height="190"><br>
        <h5><strong>Sylvain Lanthier, M.D.</strong></h5>
        <h6>
            Neurologue<br>
            Programme neuro-vasculaire, CHUM<br>
            Professeur agrégé, Université de Montréal<br>
            Montréal, Québec
        </h6>
    </div>

    <div class="col-sm-4">
        <img class="img-responsive" src="/Images/french/marshall.png" width="190" height="190"><br>
        <h5><strong>John K. Marshall, M.D. </strong></h5>
        <h6>
            Professeur de médecine et Directeur de la Division de gastro-entérologie<br>
            Université McMaster <br>
            Hamilton, Ontario
        </h6>

    </div>

</div>
<div class="row" style="margin-left:0px; padding-top:15px; padding-bottom:20px">

    <div class="col-sm-4">
        <img class="img-responsive" src="/Images/french/mitchell.png" width="190" height="190"><br>
        <h5><strong>L. Brent Mitchell, M.D.</strong></h5>
        <h6>
            Cardiologue - Électrophysiologiste<br>
            Professeur, Département des sciences cardiaques<br>
            Libin Cardiovascular Institute of Alberta<br>
            Université de Calgary<br>
            Calgary, Alberta
        </h6>

    </div>


    <div class="col-sm-4">
        <img class="img-responsive" src="/Images/french/ngui.png" width="190" height="190"><br>
        <h5><strong>Daniel Ngui, M.D.</strong></h5>
        <h6>
            Médecin de famille<br>
            Chef clinique, Fraser Street Medical <br>
            Professeur agrégé de clinique<br>
            Département de médecine familiale de l'Université de C.-B.<br>
            Vancouver, Colombie-Britannique
        </h6>

    </div>
    <div class="col-sm-4">
        <img class="img-responsive" src="/Images/french/Noiseux.png" width="190" height="190"><br>
        <h5><strong>Isabelle Noiseux, M.D.</strong></h5>
        <h6>
            Directrice adjointe à la direction de la formation professionnelle
            FMOQ
            <br>
        </h6>
    </div>
</div>
<div class="row" style="margin-left:0px; padding-top:15px; padding-bottom:20px">

    <div class="col-sm-4">
        <img class="img-responsive" src="/Images/french/rehman.png" width="190" height="190"><br>
        <h5><strong>Faisal Rehman, M.D.</strong></h5>
        <h6>
            Professeur de médecine<br>
            École de médecine et de dentisterie Schulich<br>
            Université de Western Ontario, Ontario&nbsp;
        </h6>

    </div>
</div>