@using ClinicalConundrumsSpeaker.Models
@using ClinicalConundrumsSpeaker.Util
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pnl-portal">
    <div class="row">
        <div class="col-md-12">
            <h1 id="lblTitle"></h1>
            <!--div class="btn-back"><span class="glyphicon glyphicon-chevron-left"></span><span>Back</span></!--div-->
            <!-- <div class="lead1" style="color: #534d4d">CFPC &nbsp;&nbsp; FMOQ</div>-->
        </div>
    </div>

    <div class="row">

        @{

            Html.RenderPartial("_LeftNav", UserHelper.GetLoggedInUser());
        }
        <div class="col-md-9" style="margin-bottom: 2px; color: #2b2b2b">
            <div class="1">
                <h1>Program Description</h1>

                <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->

                <div class="margin-top-24">
                    <h3>Clinical Conundrums 2020: Practical Strategies for Atrial Fibrillation Management in Real World Practice.</h3>
                    <p></p><h3>
                        ABOUT:
                    </h3>
                    <ul>
                        <li>The 2020 Clinical Conundrums program was developed by leading Canadian Experts as an evidence-based, practical, educational activity and is designed to address the perceived and unperceived needs of primary care physicians around optimal strategies for stroke prevention in patients with Atrial Fibrillation. This interactive program will address the most frequently encountered clinical challenges in the management of patients with Atrial Fibrillation and the related co-morbidities and will provide clinicians with key take-away messages that can be applied to real-world practice.</li>
                    </ul>
                    <p></p><h3>
                        FORMAT:
                    </h3>
                    <ul>
                        <li>Clinical Conundrums 2020: Practical Strategies for Atrial Fibrillation Management in Real World Practice program consists of a core didactic deck and 10 case-based modules. Each module includes interactive Q&amp;A.</li>
                        <li>Please decide on the modules which will be presented prior to submitting the New Event Request Form</li>
                    </ul>

                    <p></p><h3>
                        PROGRAM MODULES:<br>
                    </h3>
                </div>



                <div>
                    <h3>
                        Clinical Conundrums V: 2020 Update – Core Deck
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>
                            Number of Slides: 43 (including intro slides)<br>
                        </li>
                    </ul>

                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" align="left"><img src="/Images/4/core1.jpg" width="300" height="225"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div style="padding-bottom:20px">
                    <h3>
                        <p>
                            Clinical Conundrums V: 2020 Update &amp; Interactive FAQ – Core Deck
                        </p>
                    </h3>
                    <ul>
                        <li>1 Mainpro+ Credits (60 minutes)</li>
                        <li>
                            Number of Slides: 71 (including intro slides)<br>
                        </li>
                    </ul>

                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" align="left"><img src="/Images/4/core1.jpg" width="300" height="225"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>



                <div>
                    <h3>
                        <p>
                            Case 1: Periprocedural Management of Direct Oral Anticoagulants
                        </p>
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>Number of Slides: 40</li>
                    </ul>

                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" align="left"><img src="/Images/4/case1.jpg" width="300" height="225"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>



                <div>
                    <h3>
                        <p>
                            Case 2: Management of Atrial Fibrillation with Gastrointestinal Complications
                        </p>
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>
                            Number of Slides: 42<br>
                        </li>
                    </ul>
                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" align="left"><img src="/Images/4/case2.jpg" width="300" height="225"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>





                <div>



                    <h3>
                        <p>
                            Case 3: Management of Atrial Fibrillation in Post Stroke Patients
                        </p>
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>
                            Number of Slides: 35<br>
                        </li>
                    </ul>
                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" align="left"><img src="/Images/4/case3.jpg" width="300" height="225"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>




                <div>
                    <h3>
                        <p>
                            Case 4: Real World Worsening Kidney Function
                        </p>
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>
                            Number of Slides: 39<br>
                        </li>
                    </ul>
                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" align="left"><img src="/Images/4/case4.jpg" width="300" height="225"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div>
                    <h3>
                        <p>
                            Case 5: Management of Antithrombotic Therapy in Patients with AF and CAD
                        </p>
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>
                            Number of Slides: 46<br>
                        </li>
                    </ul>
                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" align="left"><img src="/Images/4/case5.jpg" width="300" height="225"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div>
                    <h3>
                        <p>
                            Case 6: Stroke Prevention Management in the Elderly Atrial Fibrillation Patients
                        </p>
                    </h3>
                    <ul>
                        <li>1 Mainpro+ Credits (60 minutes)</li>
                        <li>
                            Number of Slides: 65<br>
                        </li>
                    </ul>
                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" align="left"><img src="/Images/4/case6.jpg" width="300" height="225"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div>
                    <h3>
                        <p>
                            Case 7: Precision Management of Direct Oral Anticoagulants in Patients with Atrial Fibrillation
                        </p>
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>
                            Number of Slides: 44<br>
                        </li>
                    </ul>
                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" align="left"><img src="/Images/4/case7.jpg" width="300" height="225"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div>
                    <h3>
                        <p>
                            Case 8: Detection of AF: Methods, Challenges and Uncertainties
                        </p>
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>
                            Number of Slides: 34<br>
                        </li>
                    </ul>
                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" align="left"><img src="/Images/4/case8.jpg" width="300" height="225"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div>
                    <h3>
                        <p>
                            Case 9: Optimizing the Use and Dosing of Direct Oral Anticoagulants in Patients with Atrial Fibrillation
                        </p>
                    </h3>
                    <ul>
                        <li>0.5 Mainpro+ Credits (30 minutes)</li>
                        <li>
                            Number of Slides: 44<br>
                        </li>
                    </ul>
                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" align="left"><img src="/Images/4/case9.jpg" width="300" height="225"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div>
                    <h3>
                        <p>
                            Case 10: Management of DVT: A Practical Guide for Primary Practice
                        </p>
                    </h3>
                    <ul>
                        <li>1 Mainpro+ Credits (60 minutes)</li>
                        <li>
                            Number of Slides: 48<br>
                        </li>
                    </ul>
                    <div class="col-sm-12" style="padding-bottom:40px">
                        <table width="80%" border="0" cellspacing="0" cellpadding="10">
                            <tbody>
                                <tr>
                                    <td width="50%" align="left"><img src="/Images/4/case10.jpg" width="300" height="225"></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


            </div>









            <!-- <div class="2 margin-top-24">
            <h3>Program Description</h3>
            <div style="border: 3px solid #fff; height: 100px; width: 95%"></div>
        </div>-->
            <!--<div class="3 margin-top-24">
            <div style="border: 3px solid #fff; width: 95%">
                <table style="width: 100%">
                    <tr>
                        <td style="background: #333; color: #fff; padding: 2px 0px 2px 5px">PROVINCE</td>
                        <td style="width: 220px; background: #24c878; color: #fff; padding: 2px 0px 2px 5px">ACTIVE</td>
                        <td style="width: 220px; background: #3d7f9c; color: #fff; padding: 2px 0px 2px 5px">COMPLETED</td>
                        <td style="width: 220px; background: #e60c41; color: #fff; padding: 2px 0px 2px 5px">CANCELLED</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">BC</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">AB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">SK</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">MB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">ON</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">QC</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NS</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NFLD</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">PEI</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                </table>
            </div>
        </div>-->


        </div>
    </div>

    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
</div>

