@{
    ViewBag.Title = "Internal Implementation Documents";
    Layout = "~/Views/Shared/_ProgramDetails.cshtml";
}

<div class="1">
    <h1>Internal Implementation Documents</h1>

    <div class="margin-top-24">

        <table width="70%" border="0" cellspacing="0" cellpadding="10">
            <tbody>
                <tr>
                    <td width="6%"><img src="/Images/pdf-download.png" width="30" height="36" align="baseline"></td>
                    <td width="94%"> <h3><a href="/pdf/4/Internal Implementation Guide 2020.pdf" target="_new" style="color: #333">Internal Implementation Guide</a></h3></td>
                </tr>
                <tr>
                    <td><img src="/Images/pdf-download.png" alt="" width="30" height="36"></td>
                    <td><h3><a href="/pdf/4/CCV Speaker list.pdf" target="_new" style="color: #333">Master Speaker List</a></h3></td>
                </tr>
                <tr>
                    <td><img src="/Images/png-icon-10.png" width="35" height="35"></td>
                    <td><h3><a href="~/Images/Meal Expense Limits.png" target="_new" style="color: #333">Meal Expense Limits</a></h3></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
