@using ClinicalConundrums2019.Models
@model EvalFormModel

@{
    ViewBag.Title = "Program Materials";
    Layout = "~/Views/Shared/_ProgramDetails.cshtml";
}

<div class="1">
    <h1>Program Materials </h1>
    <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->

    <div class="margin-top-24">
        <h4>Please click on the section header below to expand and see the available materials.  All materials must be downloaded from this section.</h4>
    </div>

    <div class="margin-top-24">
        <p><strong>Important Reminder:</strong></p>
        <ul>
            <li><strong>                                  Please note that you cannot not make any changes to the approved program (slides/materials).&nbsp; The program must be delivered exactly as approved by the CFPC.</strong></li>
            <li><strong>To generate the event specific program materials, please visit your “Dashboard”. </strong> </li>
        </ul>
    </div>


    <div class="margin-top-24">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>National and Regional Invitations</strong>
                    <ul>
                        <li>Please visit your "Dashboard" to generate the session specific invitations.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="margin-top-24">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <strong>Evaluation Form</strong>
                        <ul>
                            <li>
                                Please visit your "Dashboard" to generate the session specific evaluation form

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="margin-top-24">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Certificate of Attendance</strong>
                            <ul>
                                <li>Please visit your "Dashboard" to generate the session specific Certificate of Attendance</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="margin-top-24">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Webinar Pocket Guide Handout</strong>
                                <ul>
                                    <li>Please note that this handout is made available to all participants in the handout’s menu during each webinar.</li>
                                    <li>This Pocket Guide is only to be distributed to participants that attended the virtual sessions.</li>
                                </ul>

                                <table width="50%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="7%"><strong><a href="/PDF/4/CCV - Webinar Pocket Guide Hand-Out.pdf" target="new"><img src="img/pdf.png" alt="" width="25" height="26"></a></strong></td>
                                            <td width="93%"><strong><a href="/PDF/4/CCV - Webinar Pocket Guide Hand-Out.pdf" target="new">Download Webinar Pocket Guide Handout</a></strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!--Program Content-->

                    <div class="margin-top-24">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse1" class="" aria-expanded="true"><strong>Program Content</strong> <span class="glyphicon glyphicon-triangle-bottom" style="font-size: 12px"></span></a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true" style="">
                                    <div class="panel-body">
                                        <p>

                                        </p><ul>
                                            <li>
                                                The COI slides containing the pertinent disclosures for each speaker / moderator can be found in the "Speaker &amp; Moderator Management" section of your webtool
                                            </li>
                                            <li>
                                                The COI slides must be included at the start of the presentation following the introductory slide.
                                            </li>
                                        </ul>
                                        <p></p>
                                        <table width="90%" border="0" align="center" cellpadding="10" cellspacing="0" style="border: #999 thin solid">
                                            <tbody>
                                                <tr>
                                                    <td width="12%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">Slides</td>
                                                    <td width="28%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">Credit Designation</td>
                                                    <td width="46%" colspan="2" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">Description</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF; padding:10px"><a href="/PDF/4/CCV - Core Deck 2020_0.5credits.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                                    <td align="center" bgcolor="#FFFFFF">0.5 Mainpro+</td>
                                                    <td align="center" bgcolor="#FFFFFF" style="padding:10px"><img src="/Images/4/case0a.png" width="120" height="90"></td>
                                                    <td align="center" bgcolor="#FFFFFF" style="padding:10px">Clinical Conundrums 2020: Practical Strategies for Atrial Fibrillation Management in Real World Practice</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>&nbsp;</p>
                                        <table width="90%" border="0" align="center" cellpadding="10" cellspacing="0" style="border: #999 thin solid">
                                            <tbody>
                                                <tr>
                                                    <td width="12%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">Slides</td>
                                                    <td width="28%" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">Credit Designation</td>
                                                    <td width="46%" colspan="2" align="center" bgcolor="#003366" style="font-size: 16px; color: #FFF;">Description</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF; padding:10px"><a href="/PDF/4/CCV  - Core Deck and FAQs 2020_1.0credits.pptx" target="_new"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                                    <td align="center" bgcolor="#FFFFFF">1.0 Mainpro+</td>
                                                    <td align="center" bgcolor="#FFFFFF" style="padding:10px"><img src="/Images/4/case0b.png" width="120" height="90"></td>
                                                    <td align="center" bgcolor="#FFFFFF" style="padding:10px">Clinical Conundrums 2020: Practical Strategies for Atrial Fibrillation Management in Real World Practice &amp; Interactive FAQ</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>
                                            <br>
                                        </p>
                                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                                            <tbody>
                                                <tr>
                                                    <td width="12%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Slides</td>
                                                    <td width="28%" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Credit Designation</td>
                                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Case 1: Norman</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PDF/4/Case 1 - Periprocedural Management of Direct Oral Anticoagulants 2020.pptx"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                                    <td align="center" bgcolor="#FFFFFF">0.5 Mainpro+</td>
                                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/4/case1.png" alt="" width="40" height="53"></td>
                                                    <td width="37%" align="center" bgcolor="#FFFFFF">Periprocedural Management of Direct Oral Anticoagulants</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>


                                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                                            <tbody>
                                                <tr>
                                                    <td width="12%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Slides</td>
                                                    <td width="28%" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Credit Designation</td>
                                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Case 2: Don</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PDF/4/Case 2 - Management of Atrial Fibrillation with Gastrointestinal Complications 2020.pptx"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                                    <td align="center" bgcolor="#FFFFFF">0.75 Mainpro+</td>
                                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/4/case2.png" alt="" width="40" height="53"></td>
                                                    <td width="37%" align="center" bgcolor="#FFFFFF">Management of Atrial Fibrillation with Gastrointestinal Complications</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>


                                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                                            <tbody>
                                                <tr>
                                                    <td width="12%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Slides</td>
                                                    <td width="28%" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Credit Designation</td>
                                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Case 3: Miguel</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PDF/4/Case 3 - Management of Atrial Fibrillation in Post Stroke Patients - 2020.pptx"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                                    <td align="center" bgcolor="#FFFFFF">0.5 Mainpro+</td>
                                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/4/case3.png" alt="" width="40" height="53"></td>
                                                    <td width="37%" align="center" bgcolor="#FFFFFF">Management of Atrial Fibrillation in Post Stroke Patients</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>


                                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                                            <tbody>
                                                <tr>
                                                    <td width="12%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Slides</td>
                                                    <td width="28%" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Credit Designation</td>
                                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Case 4: Melvin</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PDF/4/Case 4 - Real World Worsening Kidney Function 2020.pptx"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                                    <td align="center" bgcolor="#FFFFFF">0.5 Mainpro+</td>
                                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/4/case4.png" alt="" width="40" height="53"></td>
                                                    <td width="37%" align="center" bgcolor="#FFFFFF">Management of Atrial Fibrillation with Declining Renal Function</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                                            <tbody>
                                                <tr>
                                                    <td width="12%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Slides</td>
                                                    <td width="28%" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Credit Designation</td>
                                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Case 5: Brett</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PDF/4/Case 5 - Management of Antithrombotic Therapy in Patients with AF and CAD 2020.pptx"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                                    <td align="center" bgcolor="#FFFFFF">0.5 Mainpro+</td>
                                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/4/case5.png" alt="" width="33" height="59"></td>
                                                    <td width="37%" align="center" bgcolor="#FFFFFF">Management of Antithrombotic Therapy in Patients with AF and CAD</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                                            <tbody>
                                                <tr>
                                                    <td width="12%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Slides</td>
                                                    <td width="28%" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Credit Designation</td>
                                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Case 6: Beth</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PDF/4/Case 6 - Stroke Prevention in the Elderly Patient with Atrial Fibrillation 2020.pptx"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                                    <td align="center" bgcolor="#FFFFFF">1.0 Mainpro+</td>
                                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/4/case6.png" alt="" width="35" height="62"></td>
                                                    <td width="37%" align="center" bgcolor="#FFFFFF">Stroke Prevention Management in the Elderly Atrial Fibrillation Patients</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                                            <tbody>
                                                <tr>
                                                    <td width="12%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Slides</td>
                                                    <td width="28%" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Credit Designation</td>
                                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Case 7: Sue</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PDF/4/Case 7 - Precision Medicine Applied to DOACs  2020.pptx"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                                    <td align="center" bgcolor="#FFFFFF">0.5 Mainpro+</td>
                                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/4/case7.png" alt="" width="40" height="61"></td>
                                                    <td width="37%" align="center" bgcolor="#FFFFFF">
                                                        Precision Management of Direct Oral Anticoagulants in Patients with Atrial Fibrillation
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                                            <tbody>
                                                <tr>
                                                    <td width="12%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Slides</td>
                                                    <td width="28%" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Credit Designation</td>
                                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Case 8: Clinical Vignettes - Various</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PDF/4/Case 8 - Detection of AF - Methods Challenges and Uncertainties 2020.pptx"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                                    <td align="center" bgcolor="#FFFFFF">0.5 Mainpro+</td>
                                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/case8.png" alt="" width="72" height="36"></td>
                                                    <td width="37%" align="center" bgcolor="#FFFFFF">
                                                        Detection of AF: Methods, Challenges <br>
                                                        and Uncertainties
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                                            <tbody>
                                                <tr>
                                                    <td width="12%" height="29" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Slides</td>
                                                    <td width="28%" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Credit Designation</td>
                                                    <td colspan="2" align="center" bgcolor="#0099CC" style="font-size: 16px; color: #FFF;">Case 9: Various</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PDF/4/Case 9 - Optimizing The Use and Dosing of DOACs in Patients with AF 2020.pptx"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                                    <td align="center" bgcolor="#FFFFFF">0.75 Mainpro+</td>
                                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/4/case9.png" alt="" width="39" height="71"></td>
                                                    <td width="37%" align="center" bgcolor="#FFFFFF">Optimizing the Use and Dosing of Direct Oral Anticoagulants in Patients with Atrial Fibrillation</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <table width="90%" border="0" align="center" cellpadding="5" cellspacing="0" style="border: #999 thin solid">
                                            <tbody>
                                                <tr>
                                                    <td width="12%" height="29" align="center" bgcolor="#FF6600" style="font-size: 16px; color: #FFF;">Slides</td>
                                                    <td width="28%" align="center" bgcolor="#FF6600" style="font-size: 16px; color: #FFF;">Credit Designation</td>
                                                    <td colspan="2" align="center" bgcolor="#FF6600" style="font-size: 16px; color: #FFF;">Case 10: Stella</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" bgcolor="#FFFFFF" style="font-size: 16px; color: #FFF;padding:10px"><a href="/PDF/4/Case 10 - Management of DVT - A Practical Guide for Primary Practice 2020.pptx"><img src="/Images/ppt.png" alt="" width="35" height="36" border="0"></a></td>
                                                    <td align="center" bgcolor="#FFFFFF">1.0 Mainpro+</td>
                                                    <td width="9%" align="center" bgcolor="#FFFFFF"><img src="/Images/4/case10.png" alt="" width="36" height="69"></td>
                                                    <td width="37%" align="center" bgcolor="#FFFFFF">Management of DVT: A Practical Guide for Primary Practice</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <br>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- <div class="2 margin-top-24">
            <h3>Program Description</h3>
            <div style="border: 3px solid #fff; height: 100px; width: 95%"></div>
        </div>-->
                    <!--<div class="3 margin-top-24">
            <div style="border: 3px solid #fff; width: 95%">
                <table style="width: 100%">
                    <tr>
                        <td style="background: #333; color: #fff; padding: 2px 0px 2px 5px">PROVINCE</td>
                        <td style="width: 220px; background: #24c878; color: #fff; padding: 2px 0px 2px 5px">ACTIVE</td>
                        <td style="width: 220px; background: #3d7f9c; color: #fff; padding: 2px 0px 2px 5px">COMPLETED</td>
                        <td style="width: 220px; background: #e60c41; color: #fff; padding: 2px 0px 2px 5px">CANCELLED</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">BC</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">AB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">SK</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">MB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">ON</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">QC</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NS</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NB</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">NFLD</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td style="padding: 2px 0px 2px 5px">PEI</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                </table>
            </div>
        </div>-->


                </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="/Content/bootstrap-datetimepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="/Scripts/bootstrap-datetimepicker.min.js"></script>

<script>
    $('input#eventDate').datetimepicker({
        format: 'YYYY/MM/DD'
    });
</script>