body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.NoUnderlineLink{
    text-decoration:none !important;
    color: #fff;
    font-size: 16px;

}
body {
    font-family: 'Oswald', sans-serif !important;
    color: #fff;
    background-repeat: no-repeat;
    background-position: 0% 31%;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
}


a {
    color: #b73333;
    text-decoration: underline;
}

.navbar-inverse {
    background-color: unset !important;
    border-color: unset !important;
    border: 0px !important;
}

.navbar-inverse a{
    color: #ff8800  !important;
}

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: unset !important;
    }

    .navbar-inverse .navbar-toggle {
        border-color: unset !important;
    }



#logo {
    font-size: 38px;
    color: #fff;
}

.navbar-collapse {
    box-shadow: none !important;
    border: 0px !important;
}

.logo-img {
    float: left;
    padding-right: 15px;
    margin-top: -5px;
}

.logo-txt {
    float: left;
}

.logo-txt-sub {
    display: block;
    clear: both;
    font-size: 19px;
}

.logo-txt-welcome {
    display: block;
    clear: both;
    font-size: 15px;
    color:#4b6281;
    /*text-shadow: 1px 1px 12px #fff;*/
}

input[type=text].form-control, input[type=password].form-control {
    background: transparent;
    border: 1px solid #fff;
}

* {
    border-radius: 0 !important;
}

input[type=text].ctrl-login, input[type=password].ctrl-login {
    width: 200px;
    border: 0px;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    -webkit-transition: unset;
    color: #fff;
    padding-left: 0px !important;
    margin-left: 0px !important;
}

input[type=text].form-control:focus, input[type=password].form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border-color: #c6ff33;
}

#ctrlLogin, #ctrlSubmit_forgotPassword, #ctrlCancel_forgotPassword, #ctrlSubmit_regsiter,#ctrlCancel_regsiter {
    width: 120px;
    /*height: 25px;*/
    padding: unset;
}

input[type=submit]:active, input[type=button]:active, input[type=reset]:active {
    position: relative;
    top: 1px;
}

input[type=text].form-control, input[type=password], input[type=reset], input[type=button], input[type=submit] {
    font-size: 16px;
}

#lblMessage,#lblMessage_forgotPassword,#lblMessage_regsiter {
    margin: 20px 0px 20px 0px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-160 {
    margin-top: 160px;
}

.margin-btm-80 {
    margin-bottom: 80px;
}
.margin-right-4 {
margin-right: 4px;

}

.footer {
    color: #333;
    font-size: 14px;
}

.lead1 {
    padding-bottom: 30px;
    color: #2b2b2b;
}

.navbar-inverse {
    background-color: transparent;
}

.form-control {
    box-shadow: inset 0px 0px 0px rgba(0,0,0,0.075) !important;
}



.navbar-inverse .navbar-toggle {
    border-color: transparent !important;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent !important;
}


.footer1 {
    box-shadow: 0px 500px 0px 500px rgba(238, 238, 238, 0.61);
}

.footer1-cnt {
    background-color: rgba(238, 238, 238, 0.61);
    padding-top: 20px;
}
label {
    font-weight: normal !important;   
    text-shadow: 1px 1px 12px #fff;
}
#lblTitle {
     /*text-shadow: 1px 1px 12px #fff;*/
}

.nav a, .link-blue {
color:#4b6281 !important; 
}
.pnl-login a {
color:#dcff85 !important; 
}

ff8585
.float-right{
    float: right;
}

.float-left{
    float: left;
}


.card {
  position: relative;
  display: inline-block;
  width: 404px;
  height: 210px;
  background-color: rgba(238, 238, 238, 0.61);
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  color: #2b2b2b;
}

.card::after {
  content: "";
  border-radius: 0px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);*/ 
  box-shadow: 0 5px 15px rgba(8, 8, 8, 0.83);

  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1, 1);
}

.card:hover::after {
    opacity: 1;
}

.h1, h1 {
    font-size: 29px !important;
}

@media only screen and (max-width:768px) {
    /*.navbar-inverse  {
       background-color: rgba(0, 0, 0, 0.82) !important;
    }
    .logo-txt-welcome {
    color:#fff !important;
    }*/
}


/*.navbar-inverse    background-color: rgba(0, 0, 0, 0.6);*/

.btn-default:hover {
    color: #fff !important;
    background-color: #5a5858 !important;
    border-color: #adadad !important;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}


.btn-back {
float:right; padding-right:30px; cursor: pointer;
}
.item {

 list-style-type: none !important; font-size: 13px;
}

h1 {
color:#2f2e2e;
font-size: 29px !important;
font-weight: 500;
    line-height: 1.1;
    font-family: 'Oswald', sans-serif !important;
}

.item li{

    line-height: 29px !important;

}