@{
    ViewBag.Title = "Program Landing Page";
    Layout = "~/Views/Shared/_ProgramDetails.cshtml";
}
<style>
    ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}

</style>
<div class="1">
    <h1>STEP BY STEP - REGIONAL LIVE IN-PERSON EVENTS: </h1>
    <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->

    <div class="margin-top-24">
        <h3>Four to Six Weeks Prior to Event Date:</h3>
        <ol>
            <li>Connect with the CHRC approved session speaker and moderator (if applicable) to secure the event date and time and discuss the modules which will be presented. Notify the speaker and moderator (if applicable) to expect an email from the CHRC which will prompt them to confirm the date, log in to their speaker portal and complete any outstanding items (if applicable).</li>
            <li>Contact the session venue to hold the date.  The CHRC will follow up with the venue to provide deposit (if required) and discuss payment details.</li>
            <li>
                <a class="link-blue" href="/Program/NewEventRequest">Submit the New Event Request Form</a><br>
                - "My Dashboard" includes all session specific details and action items
            </li>
            <li>Receive Approval - 24-48 hours after submission request (upon speaker / moderator confirmation)</li>
            <li>Initiate Logistics Support (Menu / AV)</li>
            <li>
                Initiate Recruitment  - <a class="link-blue" href="/Dashboard/Index">Download National Invitation</a> (available on “my dashboard”)<br>
            </li>
            <li>
                Receive Regional Accreditation Approval - <a class="link-blue" href="/Dashboard/Index">Download Regional Invitation</a> (available on “my dashboard”)<strong>&nbsp;</strong><br>
            </li>
            <li>Continue Recruitment </li>
        </ol>
    </div>

    <div class="margin-top-24">
        <h3>One Week Prior to Event Date:</h3>
        <ol>
            <li>
                The program materials will be available on “my dashboard” <br>
                - Sign-In Sheet, Evaluation Forms, Certificate of Attendance
            </li>
            <li>Finalize any outstanding logistical items </li>
        </ol>
    </div>
    <div class="margin-top-24">
        <h3>Post Event:</h3>
        <ol>
            <li>
                <a class="link-blue" href="/Dashboard/Index">Upload Completed Program Materials</a>
                <br>
                - Sign-In Sheet, Evaluation Forms
            </li>
            <li>Physician Organization will issue honoraria and 3rd party payments </li>
        </ol>
    </div>

    <h1>WEBINAR EVENTS:</h1>
    <!-- <div class="link-blue"><a class="link-blue" href="javascript:void(0)">Download Process Document</a></div>-->

    <div class="margin-top-24">
        <h3>At Least Four Weeks Prior to Event Date:</h3>
        <ol>
            <li>Connect with the CHRC approved session speaker and moderator (if applicable) to secure the event date and time and discuss the modules which will be presented. Notify the speaker and moderator (if applicable) to expect an email from the CHRC which will prompt them to confirm the date, log in to their speaker portal and complete any outstanding items (if applicable).</li>
           
            <li>
                <a class="link-blue" href="/Program/NewEventRequest">Submit the New Event Request Form</a>
                <ul class="dashed">
                    <li>Please refer to the content presentation time assigned to each module +</li>
                     <li>10 minutes will need to be added for Housekeeping & Introductions +</li>
                        <li>15 minutes will need to be added for EACH selected module for interactivity and Q&A</li>
                    <li>"My Dashboard" includes all session specific details and action item</li>
                </ul>
            </li>
            <li>Receive Approval - 24-48 hours after submission request (upon speaker / moderator confirmation)</li>
            <li>The CHRC will set-up the session in the GoToWebinar Platform. The speaker / moderator will receive a unique registration link as “Panelists”.  The CHRC will communicate with the speaker / moderator to ensure they are comfortable with the platform. </li>
            <li>
                Initiate Recruitment – copy the URL under the “Generate Materials” section in your Dashboard. The URL is unique to each webinar.  The e-vite will include all the pertinent details for the session (modules, learning objectives, accreditation statement and registration instructions). You can forward the link to the participants – they are required to complete a simple registration.  You may also use this link to register for the event. 
            </li>
            <li>
                Receive Regional Accreditation Approval – the URL will be updated automatically to include the Regional Accreditation Statement (available on “my dashboard”) 
            </li>
            <li>A reminder email will be sent to all registered participants 24 hours and 1 hour prior to the event start time.</li>
            <li>Continue Recruitment </li>
        </ol>
    </div>

    <div class="margin-top-24">
        <h3>One Week Prior to Event Date:</h3>
        <ol>
            <li>
                Check-in with the speaker / moderator. 
            </li>
            
        </ol>
    </div>
    <div class="margin-top-24">
        <h3>Post Event:</h3>
        <ol>
            <li>
                The CHRC will distribute and collect the Evaluation Forms and issue the Certificates of Attendance.
            </li>
            <li>You can access the final participant list in <a class="link-blue" href="/Dashboard/Index">“My Dashboard”</a>.  </li>
            <li>Physician Organization will issue honoraria</li>
        </ol>
    </div>

</div>




